# Python & Environment
__pycache__/
*.py[cod]
*$py.class
.env
.venv/
venv/
.ipynb_checkpoints/
.pytest_cache/
*.log

# Dataset & Data Files
data/
data/*
*.zip
*.tar
*.gz

# Model Checkpoints
models/*/*.pt
models/*/*.bin